astroid==2.4.2
certifi==2020.11.8
chardet==3.0.4
colorama==0.4.4
idna==2.10
iqoptionapi @ git+git://github.com/iqoptionapi/iqoptionapi.git@bddf6d43b7f0a6832cbd5321377d1e9490afe877
isort==5.6.4
lazy-object-proxy==1.4.3
mccabe==0.6.1
pylint==2.6.0
requests==2.25.0
six==1.15.0
toml==0.10.2
urllib3==1.26.3
websocket-client==0.56.0
wrapt==1.12.1
